DB_DSN="host=192.168.31.254 user=phucraitek0539 password=090103Phuc dbname=SHUNDAO_DASHBOARD port=2602 sslmode=disable TimeZone=Asia/Ho_Chi_Minh"
VICTORIA_URL=http://100.81.226.125:8428
JWT_SECRET=shundao-solar-secret-2026
GEMINI_API_KEY=AIzaSyCb3TUuX4OjQjSDfqVyWX5osfBI1diWKdk
